@use '/src/sharedStyles/colors.scss';
@use '/src/sharedStyles/spacing.scss';

.appContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columnsContainer {
  display: flex;
}

.sideColumn {
  background: colors.$near-black;
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: spacing.$side-margin;
  border: spacing.$border solid colors.$accent-blue;
  border-radius: spacing.$border-radius;
}

.title {
  background: colors.$accent-blue;
  color: colors.$near-black;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.lineRow {
  border: 1px solid colors.$accent-blue;
  border-radius: spacing.$border-radius;
  width: 100%;
  padding: 5px;
  display: flex;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.lineTitle {
  color: colors.$accent-blue;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid colors.$accent-blue;
  border-radius: spacing.$border-radius;

  &.selected {
    background: colors.$accent-blue;
  }
}

.deleteButton {
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}
