@use '/src/sharedStyles/colors.scss';
@use '/src/sharedStyles/spacing.scss';

.appContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columnsContainer {
  display: flex;
}

.sideColumn {
  background: colors.$near-black;
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: spacing.$side-margin;
  border: spacing.$border solid colors.$accent-blue;
  border-radius: spacing.$border-radius;
}

.sideColumnContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sideColumnTitle {
  background: colors.$accent-blue;
  color: colors.$near-black;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.lineRowsContainer {
  width: 100%;
}

.rowGroupSeparator {
  height: 10px;
}

.lineRow {
  border: 1px solid colors.$accent-blue;
  border-radius: spacing.$border-radius;
  padding: 5px;
  display: flex;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  &.whiteRow {
    background: colors.$board-white;
  }
  &.blackRow {
    background: colors.$board-black;
  }
}

.lineTitle {
  color: colors.$near-black;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid colors.$near-black;
  border-radius: spacing.$border-radius;
  background: colors.$near-black;

  &.selected {
    background: colors.$accent-blue;
  }
}

.deleteButton {
  color: red;
  border: 1px solid red;
  font-weight: bold;
  background: colors.$near-black;
  border-radius: spacing.$border-radius;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.controlButton {
  color: colors.$accent-blue;
  padding: 5px;
  border: 1px solid colors.$accent-blue;
  width: 100%;
  text-align: center;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: colors.$near-black;
    background: colors.$accent-blue;
  }
}

.controlSlider {
  background: colors.$accent-blue;
  display: flex;
  justify-content: space-around;
  border: 1px solid colors.$accent-blue;
}

.controlSliderOption {
  background: colors.$near-black;
  color: colors.$accent-blue;
  padding: 5px;
  width: 80px;
  text-align: center;
  cursor: pointer;

  &.activeSliderOption {
    color: colors.$near-black;
    background: colors.$accent-blue;
    cursor: default;
  }
}
