@use '/src/sharedStyles/colors.scss';

.button {
  width: 100%;
  padding: 3px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  color: colors.$accent-blue;
  border: 5px solid colors.$accent-blue;
  background: colors.$near-black;

  &:hover {
    color: colors.$near-black;
    background: colors.$accent-blue;
  }

  &.disabled {
    cursor: default;

    &:hover {
      color: colors.$accent-blue;
      background: colors.$near-black;
    }
  }

  transition: all 0.2s;
}
