@use '/src/sharedStyles/colors.scss';
@use '/src/sharedStyles/spacing.scss';

.mainContainer {
  border: spacing.$border solid colors.$border;
  border-radius: spacing.$border-radius;
  height: min-content;
}