@use '/src/sharedStyles/colors.scss';
@use '/src/sharedStyles/spacing.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: colors.$near-black;
  height: 100%;
  padding: 20px;
  border: spacing.$border solid colors.$border;
  border-radius: spacing.$border-radius;
}

.title {
  background: colors.$accent-blue;
  color: colors.$near-black;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notations {
  width: 100%;
}

.turn {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: colors.$accent-blue;
}
