.appContainer {
  width: 100%;
  min-height: 100vh;
  background: #596375;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columnsContainer {
  display: flex;
}

.sideColumn {
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}