@use '/src/sharedStyles/colors.scss';
@use '/src/sharedStyles/spacing.scss';

.container {
  width: 100%;
  min-height: 100vh;
  background: colors.$near-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.menuButtonContainer {
  width: max-content;
  position: absolute;
  top: 0;
  margin: spacing.$side-margin;
}

.dbFailureMessage {
  color: colors.$accent-blue;
  text-align: center;
}
