@use '/src/sharedStyles/colors.scss';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputHeader {
  width: 100%;
  color: colors.$near-black;
  background: colors.$accent-blue;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.inputField {
  width: 100%;
  color: colors.$accent-blue;
  background: colors.$near-black;
  border: none;
  padding: 5px;
  outline: 2px solid colors.$accent-blue;
}

.titleHeader {
  @extend .inputHeader;
}

.titleInput {
  @extend .inputField;
}

.reasonHeader {
  @extend .inputHeader;
}

.reasonInput {
  @extend .inputField;
  height: 100px;
}

.message {
  outline: 3px solid colors.$accent-blue;
  color: colors.$accent-blue;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
