$white: #737373;
$black: #424242;
$border: #212121;

$near-black: #1a1a1a;

$board-black: #6c9ec1;
$board-black-lighter: #8bbad8;
$board-white: #c7dfee;
$board-white-darker: #b0d3e8;
$accent-blue: #00d3ff;
