@use '/src/sharedStyles/colors.scss';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.titleTextContainer {
  padding: 5px;
  width: 100%;
  color: colors.$near-black;
  background: colors.$accent-blue;
}

.inputHeader {
  width: 100%;
  text-align: center;
}

.lineTitle {
  @extend .inputHeader;
  font-weight: bold;
}

.lineVariation {
  @extend .inputHeader;
}

.inputField {
  width: 100%;
  color: colors.$border;
  background: colors.$white;
  border: none;
  padding: 5px;
  outline: 2px solid colors.$border;
}

.titleHeader {
  @extend .inputHeader;
}

.titleInput {
  @extend .inputField;
}

.reasonHeader {
  @extend .inputHeader;
}

.reasonInput {
  @extend .inputField;
  height: 100px;
}

.button {
  border: none;
  color: colors.$white;
  background: colors.$border;
  padding: 5px;
  font-size: 30px;
}

.message {
  outline: 3px solid colors.$accent-blue;
  color: colors.$accent-blue;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
}

.startingPointMenuContainer {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: scroll;
}

.startingPointMenuOption {
  width: 25%;
  color: colors.$accent-blue;
  border: 1px solid colors.$accent-blue;
  text-align: center;
  padding: 5px;
  margin: 10px;
  cursor: pointer;

  &.selectedStartingPointOption {
    color: colors.$near-black;
    background: colors.$accent-blue;
  }
}
